<article class="container">
    <div class="jumbotron">
        <h1 class="display-3">Prov</h1>
        <p class="lead">Det finns {{tests.length}}st prov att administrera.</p>
        <table class="table" id="examTable">
            <thead class="thead">
            <tr>
                <th>Provnamn</th>
                <th>Ämne</th>
                <th class="table-center-row">Tid</th>
                <th class="table-center-row">Antal frågor</th>
                <th>Tillgängligt</th>
            </tr>
            </thead>
            <tbody ng-repeat="test in tests">
            <tr ng-click="selectExam(tests[$index])" ng-class="{activerow: tests[$index] === selectedTest}" class="clickable-row">
                <td>{{test.title}}</td>
                <td>{{test.subject}}</td>
                <td class="table-center-row">{{test.time}}min</td>
                <td class="table-center-row">{{test.questions.length}}</td>
                <td>{{test.interval[0]}} - {{test.interval[1]}} </td>
            </tr>
            </tbody>
        </table>
        <button ng-hide="selectedTest == null" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Dela prov</button>
        <button ng-click="editExam()" ng-hide="selectedTest == null" type="button" class="btn btn-warning">Redigera prov</button>

        <hr class="m-y-2">

        <p class="lead">Det finns {{testsToCorrect.length}} st prov att rätta.</p>

        <table class="table">
            <thead class="thead">
            <tr>
                <th>Provnamn</th>
                <th>Ämne</th>
                <th class="table-center-row">Antal frågor</th>
                <th>Student</th>
            </tr>
            </thead>
            <tbody ng-repeat="test in testsToCorrect">
            <tr ng-click="selectTestToCorrect(testsToCorrect[$index])" ng-class="{activerow: testsToCorrect[$index] === selectedTestToCorrect}" class="clickable-row">
                <td>{{test.exam.title}}</td>
                <td>{{test.exam.subject}}</td>
                <td class="table-center-row">{{test.exam.questions.length}}</td>
                <td>{{test.student.firstName}} {{test.student.surName}}</td>
            </tr>
            </tbody>
        </table>
        <button ng-hide="selectedTestToCorrect == null" ng-click="correctTest()" type="button" class="btn btn-success">Rätta prov</button>
    </div>
</article>

<!-- Share test-Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Dela provet {{selectedTest.title}} till:</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            <input type="text" class="form-control" placeholder="Filtrera användare" ng-model="searchUser">
                        </div>
                    </div>
                </form>

                <table class="table">
                    <thead class="thead">
                    <tr>
                        <th ng-click="">
                            <input ng-model="isSelectAll" ng-click="selectAllStudents()" class="table-checkbox" id="selectAll" type="checkbox"/>
                        </th>
                        <th ng-click="sortType = 'firstName'; sortReverse = !sortReverse">
                            Förnamn
                            <span ng-show="sortType == 'firstName' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'firstName' && sortReverse" class="fa fa-caret-up"></span>
                        </th>
                        <th ng-click="sortType = 'surName';  sortReverse = !sortReverse">
                            Efternamn
                            <span ng-show="sortType == 'surName' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'surName' && sortReverse" class="fa fa-caret-up"></span>
                        </th>
                        <th ng-click="sortType = 'studentClass';  sortReverse = !sortReverse">
                            Klass
                            <span ng-show="sortType == 'studentClass' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'studentClass' && sortReverse" class="fa fa-caret-up"></span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in selectedStudents | orderBy:sortType:sortReverse | filter:searchUser">
                        <td><input class="table-checkbox" type="checkbox" ng-model="user.selected"/></td>
                        <td>{{user.user.firstName}}</td>
                        <td>{{user.user.surName}}</td>
                        <td>{{user.studentClass}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div ng-show="successShare" class="alert alert-success" role="alert">
                    <p>{{successMessage}}</p>
                </div>
                <div ng-show="errorShare" class="alert alert-danger" role="alert">
                    <p>{{errorMessage}}</p>
                </div>
                <button ng-hide="successShare" ng-click="shareExam()" type="button" data-dismiss="modal" class="btn btn-success" ><span ng-show="loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> OK</button>
                <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Stäng</button> -->
            </div>
        </div>
    </div>
</div>

<!-- Confirmation-Modal -->
<div id="confirmationModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delat provet {{selectedTest.title}} till:</h4>
            </div>
            <div class="modal-body">

                <table class="table">
                    <thead class="thead">
                    <tr>
                        <th ng-click="sortType = 'firstName'; sortReverse = !sortReverse">
                            Förnamn
                            <span ng-show="sortType == 'firstName' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'firstName' && sortReverse" class="fa fa-caret-up"></span>
                        </th>
                        <th ng-click="sortType = 'surName';  sortReverse = !sortReverse">
                            Efternamn
                            <span ng-show="sortType == 'surName' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'surName' && sortReverse" class="fa fa-caret-up"></span>
                        </th>
                        <th ng-click="sortType = 'studentClass';  sortReverse = !sortReverse">
                            Klass
                            <span ng-show="sortType == 'studentClass' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'studentClass' && sortReverse" class="fa fa-caret-up"></span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in selectedStudents | orderBy:sortType:sortReverse | filter:searchUser" ng-if="user.selected == true">
                        <td>{{user.user.firstName}}</td>
                        <td>{{user.user.surName}}</td>
                        <td>{{user.studentClass}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
            </div>
        </div>
    </div>
</div>