<article class="container">
    <div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <h1>Skapa prov</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon" id="testTitle">Prov titel</span>
                <input class="form-control" aria-describedby="testTitle" type="text" ng-model="exam.title" >
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="input-group">
            <span class="input-group-addon" id="testSubject">Ämne</span>
            <input class="form-control" aria-describedby="testSubject" type="text" ng-model= "exam.subject" >
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">Provlängd</span>
                <input class="form-control" placeholder="Minuter" aria-describedby="basic-addon3" type="number" ng-model="exam.time">
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
    <div class="row">
        <div class="col-md-4">
            <div class="input-group">
               <span class="input-group-addon">Start Datum</span>
           <input type="text" class="form-control input-sm"
                   datetimepicker
                   datetimepicker-options="{icons:{next:'glyphicon glyphicon-arrow-right',previous:'glyphicon glyphicon-arrow-left',up:'glyphicon glyphicon-arrow-up',down:'glyphicon glyphicon-arrow-down'}}"
                   placeholder="..."
                   name="startTime"
                   ng-model="exam.interval[0]">
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">Slut Datum</span>
                <input type="text" class="form-control input-sm"
                       datetimepicker
                       datetimepicker-options="{icons:{next:'glyphicon glyphicon-arrow-right',previous:'glyphicon glyphicon-arrow-left',up:'glyphicon glyphicon-arrow-up',down:'glyphicon glyphicon-arrow-down'}}"
                       placeholder="..."
                       name="stopTime"
                       ng-model="exam.interval[1]">
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
    <div class="row">
        <div class="col-md-4">
            <label>
            <input type="checkbox" name="checkboxes" ng-model="exam.anonymous">
                Anonym
            </label>
            <label>
                <input type="checkbox" name="checkboxes" ng-model="exam.feedback">
                Feedback
            </label>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
        <div class="row">
            <div class="col-md-4">
                <input class="procentInput" type="number" ng-model="exam.gradePercentage[0]">
                    Procentgräns för G
                <input class="procentInput" type="number" ng-model="exam.gradePercentage[1]">
                    Procentgräns för VG
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-success" ng-click="saveExam()">Spara prov</button>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div ng-repeat="(key, prop) in exam">
        <tt>{{key}}; {{prop}}</tt>
    </div>
</article>