<article class="container">
    <div class="jumbotron">
        <!-- Title -->
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <!-- Display question title -->
            </div>
        </div>

        <!-- Question text -->
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <!-- Display question text -->
            </div>
        </div>

        <!-- Question multi/single input -->
        <div class="row">
            <div class="col-md-offset-2 col-md-8">

            </div>
        </div>

        <!-- Question rank input -->
        <div class="row">
            <div class="col-md-offset-2 col-md-8">

            </div>
        </div>

        <!-- Question text input -->
        <div class="row">
            <div class="col-md-offset-2 col-md-8">

            </div>
        </div>

        <!-- Button back/front and time -->
        <div class="row">
            <div class="col-md-offset-2 col-md-8">

            </div>
        </div>

    </div>
</article>