<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="../img/newton-logo.png"/>
        <p id="profile-name" class="profile-name-card"></p>
        <form ng-submit="login()" class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="number" id="inputPersNumb" class="form-control" placeholder="Personnummer" required autofocus>
            <input type="password" id="inputPassword" class="form-control" placeholder="Lösenord" required>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Logga in</button>
        </form><!-- /form -->
    </div><!-- /card-container -->
</div><!-- /container -->

