<article class="container">
    <div class="jumbotron">
        <h1 class="display-3">Välkommen {{user.firstName}}</h1>
        <p class="lead">Du har {{user.testToTake.length}} st prov att göra.</p>
        <hr class="m-y-2">

        <table class="table table-hover">
            <thead class="thead">
            <tr>
                <th>Ämne</th>
                <th>Provnamn</th>
                <th>Tid</th>
                <th>Maxpoäng</th>
                <th>Tillgänglig</th>
            </tr>
            </thead>
            <tbody ng-repeat="test in tests">
            <tr class="clickable-row">
                <td>{{test.subject}}</td>
                <td>{{test.title}}</td>
                <td>{{test.time}}</td>
                <td></td>
                <td>{{test.interval[0]}}</td>
            </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-success">Starta prov</button>
    </div>
</article>