<article class="container">
    <div class="jumbotron">
        <h1 class="display-3">Välkommen {{name}}</h1>
        <p class="lead">Du har {{testAmount}}st prov att göra.</p>
        <hr class="m-y-2">

        <table class="table table-hover">
            <thead class="thead">
            <tr>
                <th>#</th>
                <th>Ämne</th>
                <th>Provnamn</th>
                <th>Tid</th>
                <th>Maxpoäng</th>
                <th>Slutdatum</th>
            </tr>
            </thead>
            <tbody>
            <tr class="clickable-row">
                <th scope="row">1</th>
                <td>Webbapplikationer</td>
                <td>HTML och CSS</td>
                <td>60min</td>
                <td>120</td>
                <td>2016-05-25</td>
            </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-success">Starta prov</button>
    </div>
</article>