<article class="container">
    <div class="jumbotron">
        <h1 class="display-3">Välkommen {{user.firstName}}</h1>
        <p class="lead">Du har {{user.testToTake.length}} st prov att göra.</p>
        <hr class="m-y-2">

        <table class="table">
            <thead class="thead">
            <tr>
                <th>Ämne</th>
                <th>Provnamn</th>
                <th>Tid</th>
                <th>Tillgänglig</th>
                <th></th>
            </tr>
            </thead>
            <tbody ng-repeat="test in tests">
            <tr ng-click="selectExam(tests[$index])" ng-class="{activerow: tests[$index] === selectedTest}" class="clickable-row">
                <td>{{test.subject}}</td>
                <td>{{test.title}}</td>
                <td>{{test.time}}</td>
                <td>{{test.interval[0]}}</td>
                <td><span class="glyphicon glyphicon-info-sign"></span></td>
            </tr>
            </tbody>
        </table>
        <button ng-hide="selectedTest == null" ng-click="startExam()" type="button" class="btn btn-success">Starta prov</button>
    </div>
</article>