<article class="container">
    <div class="jumbotron">
        <h1 class="display-3">Dina uppgifter</h1>
        <p class="lead"></p>
        <hr class="m-y-2">

        <div class="panel-body inf-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="table-responsive">
                        <table class="table table-condensed table-responsive table-user-information">
                            <tbody>
                            <tr>
                                <td>
                                    <strong>
                                        Förnamn:
                                    </strong>
                                </td>
                                <td>
                                    <input type="text" name="firstname" ng-disabled="firstNameDisabled" placeholder={{firstName}}>
                                </td>
                                <td>
                                    <span ng-click="changeFirstName()" class="edit-user glyphicon glyphicon-edit"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Efternamn:
                                    </strong>
                                </td>
                                <td>
                                    <input type="text" name="lastname">
                                </td>
                                <td>
                                    <span class="edit-user glyphicon glyphicon-pencil"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Lösenord:
                                    </strong>
                                </td>
                                <td>
                                    <input type="text" name="password">
                                </td>
                                <td>
                                    <span class="edit-user glyphicon glyphicon-pencil"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Email:
                                    </strong>
                                </td>
                                <td>
                                    <input type="text" name="email">
                                </td>
                                <td>
                                    <span class="edit-user glyphicon glyphicon-pencil"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Personnummer:
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    <input type="text" name="firstname" ng-disabled="true" value=12345>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Behörighet:
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    <input type="text" name="firstname" ng-disabled="true" value=Student>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                        <button type="button" class="btn btn-success">Spara ändringar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>