<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Dina uppgifter</h1>
        <p class="lead"></p>
        <hr class="m-y-2">

        <div class="panel-body inf-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="table-responsive">
                        <table class="table table-condensed table-responsive table-user-information">
                            <tbody>
                            <tr>
                                <td>
                                    <strong>
                                        Förnamn:
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{user.firstName}}
                                </td>
                                <td>
                                    <span class="edit-user glyphicon glyphicon-pencil"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Efternamn:
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{user.surName}}
                                </td>
                                <td>
                                    <span class="edit-user glyphicon glyphicon-pencil"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Lösenord:
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{user.password}}
                                </td>
                                <td>
                                    <span class="edit-user glyphicon glyphicon-pencil"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Email:
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{user.email}}
                                </td>
                                <td>
                                    <span class="edit-user glyphicon glyphicon-pencil"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Personnummer:
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{user.id}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Behörighet:
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    <p ng-show="user.admin">Administratör</p>
                                    <p ng-show="!user.admin">Student</p>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>