<article class="container">
    <div class="jumbotron">
        <h1 class="display-3">Dina uppgifter</h1>
        <p class="lead"></p>
        <hr class="userdetail-separator m-y-2">

        <div class="panel-body inf-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="table-responsive">
                        <table class="table table-condensed table-responsive table-user-information">
                            <tbody>
                            <tr>
                                <td>
                                    <strong>
                                        Förnamn:
                                    </strong>
                                </td>
                                <td>
                                    <input ng-model="user.firstName" class="userdetail-field" type="text" name="firstname" ng-disabled="firstNameDisabled">
                                </td>
                                <td>
                                    <span ng-click="changeFirstName()" class="edit-user glyphicon glyphicon-edit"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Efternamn:
                                    </strong>
                                </td>
                                <td>
                                    <input type="text" name="lastname" class="userdetail-field" ng-disabled="lastNameDisabled" ng-model="user.surName">
                                </td>
                                <td>
                                    <span ng-click="changeLastName()" class="edit-user glyphicon glyphicon-edit"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Lösenord:
                                    </strong>
                                </td>
                                <td>
                                    <input type="password" name="password" class="userdetail-field" ng-disabled="passwordDisabled" ng-model="user.password">
                                </td>
                                <td>
                                    <span ng-click="changePassword()" class="edit-user glyphicon glyphicon-edit"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Email:
                                    </strong>
                                </td>
                                <td>
                                    <input type="text" name="email" class="userdetail-field" ng-disabled="emailDisabled" ng-model="user.email">
                                </td>
                                <td>
                                    <span ng-click="changeEmail()" class="edit-user glyphicon glyphicon-edit"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Personnummer:
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    <input type="text" name="persNumb" class="userdetail-field" ng-disabled="true" ng-model="user.id">
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-lock"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <button ng-show="showbutton" ng-click="updateUser()" type="button" class="btn btn-success" >Spara ändringar</button>
                        <div ng-show="detailsChanged" class="alert alert-success" role="alert">
                            <p>Dina uppgifter har nu uppdaterats!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

