@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic);

body, html {
    /*height: 100vh;
    background: linear-gradient(rgb(238, 114, 2), rgb(161, 77, 1)) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    */
    background-color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}

/* SHARE TEST MODAL */
.activerow {
    background-color: #337AB7;
}
/* END OF SHARE TEST MODAL */

.clickable-row{ /*in a table*/
    cursor: pointer;
}

/* ANIMATION FOR CONFIRMATIONS (loading..) */
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
/* END OF ANIMATION FOR CONFIRMATIONS*/

.checkbox {
    cursor: pointer;
}

.navbar-inverse {
    background-color: black;
    /*background-color: rgb(238, 114, 2);*/
}

#header-logo {
    height: auto;
    width: 120px;
    padding: 0;
}

.jumbotron h1 {
    font-size: 50px;
}

.navbar {
    border-radius: 0px;
}

.nav {
    margin-top: 10px;
}

/* Fix for ui-bootstrap components */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

/*
* USER DETAILS
*/
.m-y-2 {
    margin-bottom: 0;
}

.panel-body {
    padding-left: 0;
}

.table tbody tr.highlight td {
    background-color: red;
}

.thead {
    background-color: #373A3C;
    color: white;
}

.edit-user {
    cursor: pointer;
}

/*
* COMMON ELEMENT STYLING
*/

.checkbox-answer-options {
    min-width: 33px;
    min-height: 33px;
}

.checkbox-mini {
    max-width: 20px;
    max-height: 20px;
}

.bigicon {
    font-size: 2em;
}

.grayicon {
    color: #777777;
}

.btn:focus {
    outline: none;
}

checkbox:focus {
    outline: none;
    background-color: inherit;
}

/*
* END OF COMMON ELEMENT STYLING
*/

/*
* END OF USER DETAILS
*/

/*
* LOGIN
*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 180px;
    height: 100px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    border-radius: 5%;
}

.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputPersNumb,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=number],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
}

.btn {
    cursor: pointer;
}

.btn.btn-signin {
    background-color: #02C1EE;
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: #0083A1;
    cursor: pointer;
}

.input-group {
    margin-top: 10px;
}

#classContainer {
    display: none;
}

#testContainer {
    display: none;
}

.alert {
    padding: 10px;
    margin-bottom: 0;
}

/*
* END OF LOGIN
*/

/*
* QUESTION CREATE/EDIT
*/

#qTypeDropDown {
    min-width: 130px;
    max-with: 230px;
}

#qGradeDropDown {
    min-width: 130px;
    max-with: 230px;
}

ul.draggableUl {
    list-style: none;
    margin: 0;
    padding: 0;
}

.icon-center {
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 200px;
    vertical-align: middle;
    text-align: left;
    padding: 25px;
    padding-top: 60px;
    margin: 10px;
}

.drop-box.imageUploaded {
    background: transparent;
    border: none;
    width: 200px;
    height: 200px;
    vertical-align: middle;
    text-align: left;
    padding-top: 0px;
    padding-left: 0px;
    margin: 0px;
}

.dragover {
    border: 5px dashed blue;
}

.imageRemoveButton {
    height: 20px;
    width: 20px;
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    margin: 10px;
    top: 5px;
    left: 20px;

}

.previewImage {
    position: relative;
    display: inline-block;
    max-height: 200px;
    max-width: 200px;
}

.incorrectAnswer {
    color: white;
}

.top-space-div {
    padding-top: 20px;
}

/*
* END OF QUESTION CREATE/EDIT
*/

/*
* DO EXAM
*/

.questionImage {
    right: 0;
    top: 0;
    float: right;
    max-width: 200px;
    max-height: 200px;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.topbtn {
    margin-top: 20px;
    margin-bottom: 10px;
}

.answerOptions {
    cursor: pointer;
    padding: 10px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;
    margin-bottom: 10px;
}

.answerOptions.ranking {
    background-color: #eeeeee; /* Taken from jumbotron to not make ranking options transparent.*/
}

.answerOptions > p {
    padding: 0;
    margin: 0;
}

.timerText {
    color: #777777;
    font-size: 18px;
    font-weight: 700;
}

/*
* CREATE EXAM
*/

.answerModalOptions {
    margin-bottom: 10px;
}

.smallLabeltext {
    font-size: 14px;
    font-weight: 400;
}

.pLabel {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

.has-feedback .form-control {
    padding-left: 30px;
    padding-right: 10px;
}

.form-control-feedback {
    display: inline-block;
    left: 12px;
}

.checkbox-form-inline-right {
    margin-left: 10px;
}

.row-extra-space {
    margin-bottom: 20px;
}

.top-buttons {
    margin-top: 30px;
}

.table-form-group {
    table-layout: fixed;
    /*width: auto;*/
}

.mini-btn {
    font-size: 9px;
    height: 25px;
    margin-top: 28px;
    padding-left: 7px;
    padding-right: 7px;
}

.btn-modal-okcancel {
    min-width: 100px;
    display: inline-block;
}

thead {
    cursor: pointer;
}

.hidefa {
    color: #373A3C;
}

.btn-width-120 {
    width: 120px;
}

.selectedListObject {
    background-color: #006dcc;
    color: white;
}

.closeCross {
    font-size: 2em;
    cursor: pointer;
}

/*
* END OF CREATE EXAM
*/