<!--

class:
	{
		_id:				MongoDB id
		name:				String
		students:			[user._id,user._id...]
	}

-->

<article id="class">
    <h1> Class </h1>

    <form>
        <p>_id</p>
        <input id="_id" ng-model="studentClass._id" type="text">
        <button ng-click="loadClass()">Load class</button>
        <br/>
        <p>name</p>
        <input id="name" ng-model="studentClass.name" type="text">
        <br/>
        <p>StudentIDs</p>
        <div ng-repeat="student in studentClass.students track by $index">
            <input ng-model="student" type="text">
        </div>
        <br/>
        <p>Add student id</p>
        <input type="text" ng-model="studentToAdd">
        <br/>
        <button ng-click="addStudent()">Add student</button>
        <br/>
        <br/>
        <button ng-click="submitClass()">Add/modify class</button>
        <br/>
        <input type="text" ng-model="deleteId">
        Full?
        <input type="checkbox" ng-model="fullDelete">
        <br/>
        <button ng-click="deleteClass()">Delete class</button>
    </form>
    <br/>
    <p>Current class:</p>
    <div ng-repeat="(key, prop) in studentClass">
        <table>
            <tr>
                <td>{{key}}</td>
                <td>{{prop}}</td>
            </tr>
        </table>
    </div>
    <br/>
    <p>All classes</p>
    <button ng-click="getAllClasses()">Update class list</button>
    <div ng-repeat="currClass in studentClasses">
            <div ng-repeat="(innerkey, innerprop) in currClass">
                <table>
                    <tr>
                        <td>{{innerkey}}</td>
                        <td>{{innerprop}}</td>
                    </tr>
                </table>
            </div>
            <br/>
    </div>
</article>