<!--

class:
	{
		_id:				MongoDB id
		name:				String
		students:			[user._id,user._id...]
	}

-->

<article id="class">
    <h1> Class </h1>
    <br/>
    <br/>

    <form ng-submit="submitClass()">

        <p>id</p>
        <input id="_id" ng-model="studentClass._id" type="text">
        <br/>
        <button ng-click="loadClass()">Load class</button>
        <br/>
        <p>Name</p>
        <input id="name" ng-model="studentClass.name" type="text">
        <br/>
        <p>StudentIDs</p>
        <div ng-repeat="student in studentClass.students track by $index">
            <input ng-model="student" type="text">
        </div>
        <br/>
        <p>Add student id</p>
        <input type="text" ng-model="studentToAdd">
        <button ng-click="addStudent()">Add student</button>
        <br/>
        <button type="submit">Add/modify class</button>
    </form>
    <tt>_id: {{studentClass._id}}</tt><br/>
    <tt>name: {{studentClass.name}}</tt><br/>
    <tt>students: {{studentClass.students}}</tt>

</article>