<!--

/api/question				GET 	- 			[question]		Gets ALL questions
/api/question 				POST 	question 	-				Adds a question
/api/question/(id)			PUT 	question 	- 				Updates a question
/api/question/(id) 			GET 	- 			question 		Gets a specific question
/api/question/(id) 			DELETE 	- 			- 				Deletes a question
/api/question/cre8or/(id)	GET 	-			[question]		Gets all questions by a cre8or

question:
	{
		_id:				MongoDB id
		title:				String
		questionText:		String
		type:				String (Multi,Rank,Text)
		answerOption:		[answerObject:{
									text: 		String
									correct:	Boolean
									},...]
		vgQuestion:			Boolean
		extraInfo:			String
		imageUrl:			String
		points:				Number
		cre8or:				user._id
	}

-->

<article id="question">
    <h1> Question </h1>
    <form>
        <p>id</p>
        <input id="_id" ng-model="question._id" type="text">
        <button ng-click="loadQuestion()">Load question</button>
        <input id="cre8or" ng-model="question.cre8or" type="text">
        <button ng-click="getByAuthor()">Load questions by cre8or</button>
        <br/>
        <br/>
        <p>title</p>
        <input ng-model="question.title" type="text">
        <p>text</p>
        <input ng-model="question.questionText" type="text">
        <p>type</p>
        <input ng-model="question.type" type="text">
        <p>extraInfo</p>
        <input ng-model="question.extraInfo" type="text">
        <p>imageUrl</p>
        <input ng-model="question.imageUrl" type="text">
        <p>points</p>
        <input ng-model="question.points" type="text">
        <p>vgQuestion</p>
        <input type="checkbox" ng-model="question.vgQuestion">
        <br/>
        <p>answerOptions</p>
        <div ng-repeat="answer in question.answerOptions track by $index">
            text: <input ng-model="answer.text" type="text">
            correct: <input type="checkbox" ng-model="answer.correct">
        </div>
        <br/>
        <p>Add answer option</p>
        text: <input type="text" ng-model="answerToAdd.text">
        <br/>
        correct: <input type="checkbox" ng-model="answerToAdd.correct">
        <button ng-click="addAnswer()">Add answer</button>
        <br/>
        <br/>
        <button ng-click="submitQuestion()">Add/modify question</button>
        <br/>
        <input type="text" ng-model="deleteId">
        <button ng-click="deleteQuestion()">Delete question</button>
    </form>
    <br/>

    <p>Current question:</p>
    <div ng-repeat="(key, prop) in question">
        <table>
            <tr>
                <td>{{key}}</td>
                <td>{{prop}}</td>
            </tr>
        </table>
    </div>
    <br/>
    <br/>
    <p>All questions</p>
    <button ng-click="getAllQuestions()">Update class list</button>
    <div ng-repeat="currQuestion in questions">
        <div ng-repeat="(innerkey, innerprop) in currQuestion">
            <table>
                <tr>
                    <td>{{innerkey}}</td>
                    <td>{{innerprop}}</td>
                </tr>
            </table>
        </div>
        <br/>
    </div>
    </div>
    <br/>
    <p>Questions by cre8or ({{question.cre8or}})</p>
    <div ng-repeat="questionCr8Exam in questionByAuthor">
        <div ng-repeat="(cr8key, cr8prop) in questionCr8Exam">
            <table>
                <tr>
                    <td>{{cr8key}}</td>
                    <td>{{cr8prop}}</td>
                </tr>
            </table>
        </div>
        <br/>
    </div>
</article>