<!-- Header -->
<div class="modal-header">
    <div class="row">
        <div class="col-md-12 text-left">
            <h1>Ny fråga</h1>
        </div>
    </div>
</div>
<div class="modal-body">
    <!-- Image -->
    <form class="form-horizontal">
        <div class="row form-group">
            <div class="col-md-10 col-md-offset-1">
                <div ng-class="{'imageUploaded' : questionImage && questionImage !==''}" class="drop-box"
                     ngf-drop="getFiles($files)"
                     ngf-select="getFiles($files)" ngf-drag-over-class="dragover" ngf-multiple="false"
                     ng-model="questionImage" name="file" ngf-pattern="'image/*'"
                     ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">
                    <img class="previewImage" ngf-src="questionImage"/>
                    <i ng-hide="questionImage && questionImage !==''">Välj bild genom att dra den hit eller klicka i
                        rutan.</i>
                </div>
                <button class="btn btn-danger imageRemoveButton" ng-hide="!questionImage"
                        ng-click="removeImage()"><span
                        class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>

        <!-- Title -->
        <div class="row form-group">
            <div class="col-md-10 col-md-offset-1">
                <label for="qTitle" class="control-label">Titel</label>
                <input id="qTitle" class="form-control" aria-describedby="qTitle" type="text"
                       ng-model="question.title"
                       placeholder="Ange eventuell frågetitel här.">
            </div>
        </div>

        <!-- Text -->
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <label for="qText" class="control-label">Frågetext</label>
                    <textarea id="qText" class="form-control" aria-describedby="qText" rows="5"
                              ng-model="question.questionText" placeholder="Ange frågetexten här."></textarea>
            </div>
        </div>

        <!-- Extra info -->
        <div class="row form-group">
            <div class="col-md-10 col-md-offset-1">
                <label for="qExtraInfo" class="control-label">Extra information</label>
                <input id="qExtraInfo" class="form-control" aria-describedby="qExtraInfo" type="text"
                       ng-model="question.extraInfo"
                       placeholder="Ange eventuell extra information om frågan här.">
            </div>
        </div>

        <!-- Question type -->
        <div class="row form-group">
            <div class="col-md-3 col-md-offset-1">
                <div uib-dropdown keyboard-nav>
                    <button ng-init="question.type = 'text'" id="qTypeDropDown" type="button"
                            class="form-control btn btn-default btn-md"
                            uib-dropdown-toggle>
                        <span ng-show="question.type === 'multi'">Flerval </span>
                        <span ng-show="question.type === 'single'">Enkelval </span>
                        <span ng-show="question.type === 'text'">Fritext </span>
                        <span ng-show="question.type === 'rank'">Rangordning </span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="qTypeDropDownNav">
                        <li ng-repeat="qType in questionTypes" ng-click="pickType($index)"><a
                                href="">{{qType.text}}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Question Grade -->
            <div class="col-md-3">
                <div class="" uib-dropdown keyboard-nav>
                    <button id="qGradeDropDown" type="button" class="form-control btn btn-default btn-md"
                            uib-dropdown-toggle>
                        {{question.vgQuestion? 'VG-fråga' : 'G-fråga'}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                        aria-labelledby="simple-btn-keyboard-nav">
                        <li ng-click="question.vgQuestion=false"><a href="">G-fråga</a></li>
                        <li ng-click="question.vgQuestion=true"><a href="">VG-fråga</a></li>
                    </ul>
                </div>
            </div>

            <!-- Points -->
            <div class="col-md-3 text-right">
                <label for="qPoints" class="control-label">Poäng</label>
            </div>
            <div class="col-md-1">
                <input id="qPoints" type="number" class="form-control text-right" ng-model="question.points">
            </div>
        </div>

        <!-- Answer options -->
        <div ng-show="question.type === 'multi' || question.type === 'single' || question.type === 'rank'">
            <div class="row form-group">
                <div class="col-md-3 col-md-offset-1">
                    <buttton type="button" class="form-control btn btn-md btn-success"
                             ng-click="addAnswer()">Lägg till svar
                    </buttton>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>

        <!-- Answer input with correct checkbox -->
        <div ng-show="question.type === 'multi' || question.type === 'single'" class="row form-group">
            <div ng-repeat="currAnswer in question.answerOptions track by $index">
                <div class="col-md-10 col-md-offset-1">
                    <div class="input-group input-group-sm">

                            <span class="input-group-btn">
                                <button ng-class="{'btn-success': currAnswer.correct === true, 'incorrectAnswer': currAnswer.correct === false}"
                                        ng-click="toggleCorrect($index)"
                                        class="btn incorrectAnswer"><span
                                        class="glyphicon glyphicon-ok"></span></button></span>
                        <input ng-class="{'btn-success': currAnswer.correct === true}" type="text" class="form-control"
                               ng-model="question.answerOptions[$index].text"
                               placeholder="Svarstext">
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" type="button"
                                                ng-click="removeAnswer($index)"><span
                                                class="glyphicon glyphicon-remove"></span></button>
                                </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Answer options ranked -->
        <div ng-show="question.type === 'rank'" class="row form-group">
            <div class="col-md-10 col-md-offset-1">
                <ul class="draggableUl" ui-sortable ng-model="question.answerOptions">
                    <li ng-repeat="currAnswer in question.answerOptions track by $index">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon"><strong>{{$index+1}}</strong></span>
                            <input id="{{'qAnswerRankOption'+$index}}" type="text" class="form-control"
                                   ng-model="question.answerOptions[$index].text"
                                   placeholder="Svarstext">
                                        <span class="input-group-btn">
                                        <button class="btn btn-danger" type="button"
                                                ng-click="removeAnswer($index)"><span
                                                class="glyphicon glyphicon-remove"></span></button>
                                </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <div class="row form-group">
        <div class="col-md-offset-8 col-md-4 text-right">
            <button class="btn btn-success" ng-click="ok()">Lägg till <span
                    class="glyphicon glyphicon-ok"/>
            </button>
            <button class="btn btn-danger" ng-click="cancel()">Avbryt <span
                    class="glyphicon glyphicon-remove"/>
            </button>
        </div>
    </div>
</div>

<!-- DEBUG INFO
Validate error: {{validateError}} <br/>
<div ng-repeat="(key, prop) in question">
    <tt>{{key}} : {{prop}}</tt>
</div>
<tt>File: {{questionImage.$ngBlobUrl.blob}} {{questionImage}}</tt>
-->